body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: cursive;
}

button{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: springgreen;
    font-family: cursive;
}

div img{
    width: 500px;
    height: 500px;
}

.tit{
    background-color: springgreen;
    color: black;
}