body{
  background-image: url(img/fondo.webp);
  color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 100px 25px 100px;
}

.boton{
width: 80px;
height: 80px;
background-color: greenyellow;
/* border-radius: 50px; */
font-size: 11px;
margin: 5px;
padding: 10px;
line-height: 45px;
text-align: center;
float: left;
}

.boton:hover {
  opacity: 0.3;
}

.botones{
columns: 2;
}

.boton img{
  height: 100px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 100px 25px 100px;
}